@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
font-family: Arial, Helvetica,'Roboto Slab';
}

body {
background-image: linear-gradient(to right, #3a7db4, white, #3a7db4);
}

main {
    background-color: white;
    width: 680px;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 10px 10px 25px rgb(0, 0, 0);
}

* {
    margin: 0px;
    padding: 0px;
}

nav{
    text-align: center;
    padding: 15px;
}

nav > a{
    color: rgba(0, 0, 0, 0.555);
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    padding: 0px 25px;
    font-weight: bolder;

}

nav > a:hover {
    background-color: rgba(0, 0, 85, 0.616);
    color: rgb(255, 255, 255);
    padding: 5px 30px;
    border-radius: 3px;
    transition-duration:0.3s;
}

h1 {
    color: rgb(5, 4, 4);
    text-align: center;

}

h2 {
    color: black;
    padding: 5px;
}

p {
text-align: justify;
text-indent: 30px;
padding: 15px;
}

ul {
    list-style-position: inside;
}
    

      footer > p {
        text-align: center;
      }

    
      footer > p > a {
        padding: 10px;
        color: black;
        font-weight: bolder;
        text-shadow: 1.3px 1.3px 0px rgba(0, 0, 0, 0.473);
        text-decoration: underline;
      }

    footer a:hover {
      background-color: rgba(0, 0, 0, 0.288);
      color: white;
      padding:5px 10px;
      border-radius: 3px;
      transition-duration: 0.5s;
    }
